body{
    background-color:black;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 200;
    display:flex;
    height:60vh;
}
.formcontainer{
    position:relative;
    margin:15% auto;
    min-height:50%;
    width:100%;
    background:rgb(38, 38, 63);
    color:white;
    opacity:0.6;
    margin-top:100px;
    display: flex;
    text-align: center;
    justify-content:center;
    padding: 12px 12px;
    box-sizing: border-box;
    border-radius:6px;
}

.button{
    background:dodgerblue;
    color:white;
    margin: 0.5em;
    border-radius: 12px 10px;
    padding: 5px 20px;
    cursor: pointer;
    font-weight:100;
    text-align:center;
    width: 200px;
  }
  